@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color:#ededed;
}

.italic {
    font-style: italic;
}

.whole-page {
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    width: 244px;
    height: 550px;
    padding-top: 130px;
}

.management-text {
    display: block;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dresses-container {
    display: block;
    margin-top: 5px;
}

.dresses-container svg {
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.right-area{
    width: 100%;
}

.right-area *{
    padding-left: 44px;
    padding-right: 44px;
}

.create-dress{
    font-size: 28px;
    font-weight: bold;
    color: #1c1d22;
    margin-left: -45px;
    font-style: italic;
}

.step2 {
    display: flex;
    margin-top: 5px;
}

.step2 p{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #4949ac;
    margin-left: -45px;
}

.step2 svg{
    padding-top: 15px;
    margin-left: -90px;
}

.steps123 {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    height: 114px;
    border-radius: 12px;
}

.one {
    margin-left: 10px;
}

.steps123 .one,
.steps123 .two,
.steps123 .three{
    width: 44px;
    height: 44px;
    background-color: #4b77fa;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.steps123 .three{
    color:#8d8d97;
    background-color: #ffffff;
    border-color: #8d8d97;
    border: 2px solid #8d8d97;
}

.line1 {
    height: 2px;
    width: 228px;
    background-color: #4b77fa;
}

.line2 {
    height: 2px;
    width: 228px;
    background-color: #8d8d97;
}

.areas{
    background-color:#ffffff;
    border-radius: 12px;
    margin-top: 10px;
    padding: 44px;
    display: flex; 
    align-items: flex-start;
}

.area1, .area2 {
    padding: 16px;
    border: 1px solid #edeef6;
    border-radius: 12px;
    width: 250px;
    margin-left: 10px;
    height: 250px;

    /* align-items: center; */
}

h1 {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: -45px;
}

label {
    color: #6a6c77;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -90px;
}

.dropdown button {
    width: 250px;
    height: 43px;
    background-color: #f5f5fa;
    border: none;
    border-radius: 8px;
    margin-left: -45px;
    margin-bottom: 10px;
    align-items: center;
    text-indent: -150px;
}

.dropdown svg {
    float: right;
    margin-right: -70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.buttons{
    margin-right: -40px;
    margin-top: 20px;
    float:right;
}

.buttons button{
    border-radius: 100px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4949ac;
    color:#ffffff;
    border: 1px solid #4949ac;
    width: 150px;
    height: 48px;

}

.buttons .prev-button {
    color: #4949ac;
    background-color:#ffffff;
}